.TodoList {
    width: 20%;
    border: 1px solid red;
    background-color: rgb(185, 162, 201);
}
  
.SearchInput {
    width: 90%;
    height: 20px;
    margin-top: 10px;
    border-width: 3px;
    border-color: rgb(152, 80, 201);
    text-align: center;
}